<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fila de Usuários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <header style="text-align: center; margin-bottom: 20px;">
        <h1>Bem-vindo à Fila</h1>
        <h3 id="status-usuario"></h3>
        <h4 id="total-usuarios"></h4>
    </header>
    <h1 style="text-align: center;">Fila de Usuários Logados</h1>
    <table>
        <thead>
            <tr>
                <th>Índice</th>
                <th>Usuário</th>
                <th>Horário de Login</th>
            </tr>
        </thead>
        <tbody id="lista-usuarios">
            <!-- Preenchido dinamicamente -->
        </tbody>
    </table>
    <div style="text-align: center; margin-top: 20px;">
        <h2>Usuário Atual: <span id="usuario-atual"></span></h2>
        <h3>Timer: <span id="timer">30</span> segundos</h3>
    </div>

    <div style="margin-top: 50px; text-align: center;">
        <h2>Eventos</h2>
        <table>
            <thead>
                <tr>
                    <th>Evento</th>
                    <th>Vagas</th>
                </tr>
            </thead>
            <tbody id="eventos-lista">
                <!-- Preenchido dinamicamente -->
            </tbody>
        </table>
    </div>
</body>
</html>
